<section id="contact" class="bg-darkxs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h2 class="section-heading">Research Team</h2>
                <hr class="primary">
                <div class"col-lg-offset-3">
                 <p class="text-left">
                    This research was conducted by 
                    <ul>
                        <li>
                            <a href="https://www.bu.edu/cs/profiles/sharon-goldberg/">Sharon Goldberg</a> (Boston University and Cloudflare),
                        </li>
                        <li>
                            <a href="https://mirohaller.com">Miro Haller</a> (University of California, San Diego),
                        </li>
                        <li>
                            <a href="https://cseweb.ucsd.edu/~nadiah/">Nadia Heninger</a> (University of California, San Diego),
                        </li>
                        <li>
                            <!--<a href="">Mike Milano</a>-->Mike Milano (BastionZero),
                        </li>
                        <li>
                            <a href="https://www.microsoft.com/en-us/research/people/danshu/">Dan Shumow</a> (Microsoft Research),
                        </li>
                        <li>
                            <a href="https://marc-stevens.nl/research/">Marc Stevens</a> (Centrum Wiskunde & Informatica), and
                        </li>
                        <li>
                            <a href="https://cseweb.ucsd.edu/~asuhl/">Adam Suhl</a> (University of California, San Diego)
                        </li>
                    </ul>
                </p>
                <p>
                    You can email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
            </div>
        </div>
    </div>
</section>
