<aside class="bg-bright" id="paper">
    <div class="container">
        <div class="call-to-action">
          <h2>Paper</h2>
	  <hr class="primary">
            <p>
                <b>
                    <a href="pdf/radius.pdf">RADIUS&#47;UDP considered harmful</a>
                </b>
                <br>
                    Sharon Goldberg, Miro Haller, Nadia Heninger, Mike Milano, Dan Shumow, Marc Stevens, and Adam Suhl.
                <br>
                <i>To appear at USENIX Security 2024.</i>
            </p>
        </div>
    </div>
</aside>
